.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 37);
    padding: 50px;
    width: 100%;
    position: relative;
    color: white;
}

.items{
    position: absolute;
    left: 180px;
}


.items2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons{
    display: flex;
    gap: 5px;
}